/* 사이드 메뉴 스타일 */
.side-menu {
  position: fixed;
  top: 0;
  right: -320px;
  /* 초기 위치: 화면 밖 */
  width: 320px;
  height: 100%;
  background-color: #9c73b1 !important;
  /* 보라색 배경 */
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.side-menu.open {
  right: 0;
  /* 메뉴가 열리면 화면 안으로 이동 */
}

.side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.side-menu-header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0;
  background-color: rgba(0, 0, 0, .08);
}

.side-menu-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.side-menu-list li {
  margin: 1rem 0;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.5rem;
}

.side-menu-list li a {
  color: white;
  text-decoration: none;
}

.side-menu-list li a:hover {
  color: #ddd;
}

/* 메인 콘텐츠 이동 */
.main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: right 0.3s ease-in-out;
}

.main-content.shifted {
  right: 320px;
  /* 사이드 메뉴가 열릴 때 오른쪽으로 이동 */
}